services:
    web:
        depends_on:
            - php
            # - auth
        restart: always
        image: nginx:latest
        ports:
            - "8888:80"
        volumes:
            - ./src:/src
            - ./utils/site.conf:/etc/nginx/conf.d/default.conf
        networks:
            - server-bridge
            - auth-bridge
    php:
        depends_on:
            - db
            # - auth
        restart: always
        build: .
        volumes:
            - ./src:/src
        networks:
            - server-bridge
            - db-bridge
            - auth-bridge
    db:
        image: mysql:latest
        volumes:
            - ./data:/var/lib/mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: nodestar
            MYSQL_DATABASE: nodestar
            MYSQL_USER: nodestar
            MYSQL_PASSWORD: nodestar
        networks:
            - db-bridge
            - auth-bridge
    # auth:
    #     image: jboss/keycloak
    #     restart: always
    #     ports:
    #         - "8080:8080"
    #     environment:
    #         KEYCLOAK_USER: root
    #         KEYCLOAK_PASSWORD: abcd1234
    #     networks:
    #         - auth-bridge


networks:
    server-bridge:
        driver: bridge

    db-bridge:
        driver: bridge

    auth-bridge:
        driver: bridge
