version: '2'

services:
  web:
    depends_on:
      - php
      - auth
    restart: always
    image: nginx:latest
    volumes:
        - ./src:/src
    ports:
      - "80:80"
    networks:
      server-bridge:
        aliases:
          - web
      auth-bridge:
        aliases:
          - web
  php:
    depends_on:
      - db
      - auth
    restart: always
    build:
      dockerfile: env/php/Dockerfile
      context: .
    volumes:
        - ./src:/src
        - ./templates:/templates
    command: /bin/sh -c 'cd /src && composer install --no-interaction && php-fpm'
    networks:
      server-bridge:
        aliases:
          - php
      db-bridge:
        aliases:
          - php
  db:
    image: mysql:latest
    volumes:
      - ./data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: nodestar
      MYSQL_DATABASE: nodestar
      MYSQL_USER: nodestar
      MYSQL_PASSWORD: nodestar
    networks:
      db-bridge:
        aliases:
          - db
  auth:
    image: jboss/keycloak-mysql
    build:
      dockerfile: env/keycloak/Dockerfile
      context: .
    links:
      - db:mysql
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_USER: root
      KEYCLOAK_PASSWORD: abcd1234
      MYSQL_DATABASE: nodestar
      MYSQL_USERNAME: nodestar
      MYSQL_PASSWORD: nodestar
      MYSQL_PORT_3306_TCP_ADDR: mysql
      MYSQL_PORT_3306_TCP_PORT: 3306
    networks:
      auth-bridge:
        aliases:
          - keycloak
      db-bridge:
        aliases:
          - keycloak

networks:
  server-bridge:
    driver: bridge
  db-bridge:
    driver: bridge
  auth-bridge:
    driver: bridge
